In [2]:
print(int(str(123456)[::2]))

135

In [52]:
#define a set
myset = {"Ram","Mango","Apple"}
print(myset)

{'Mango', 'Ram', 'Apple'}

In [53]:
myset = set(("Ram","Mango","Apple"))
print(myset)

{'Mango', 'Apple', 'Ram'}

In [54]:
#check the type of set
print(type(myset))

<class 'set'>

In [55]:
#Get the length of a set
print(len(myset))

3

In [43]:
#Data types in set we can use all data types item, list, and tuple, but 1 or True are same and 0 and False is same considered in set
data_set = {False,0,True,1,2,3,"Apple",(1,2,3,4)}
print(data_set)

{False, True, 2, 3, (1, 2, 3, 4), 'Apple'}

In [44]:
#We can't directly use dict as item in set
set_ = {{"Mango":30}}
print(set_)

TypeError: unhashable type: 'dict'

In [45]:
#Duplicate items is not allowed in a set
fruits = {"Mango","Kiwi","Mango","Apple","Mango","Cherry","Apple"}
print(fruits)

{'Mango', 'Apple', 'Cherry', 'Kiwi'}

In [46]:
#Convert list into a set
mylist = [1,22,34,33,22,100,33,222,0,22,33,22]
mylist.sort()
print(f"This is a list: {mylist}")
set_from_list = set(mylist)
print(f"This is a set: {set_from_list}")

This is a list: [0, 1, 22, 22, 22, 22, 33, 33, 33, 34, 100, 222]
This is a set: {0, 1, 34, 33, 100, 22, 222}

In [60]:
#convert a tuple into a set
days_tuple = ("Mon","Tue","Wed","Mon","Thr","Mon")
print(f"This is a tuple: {days_tuple}")
set_from_tuple = set(days_tuple)
print(f"This is a set : {set_from_tuple}")

This is a tuple: ('Mon', 'Tue', 'Wed', 'Mon', 'Thr', 'Mon')
This is a set : {'Thr', 'Mon', 'Wed', 'Tue'}

In [61]:

#Convert a dictionary into a set
my_dict = {"Ram":30,"Mohan":30,"Ram":20,"Gopal":20}
print(f"This is a dictionary : {my_dict}")

set_from_dict = set(my_dict)
print(f"This is a set : {set_from_dict}")

This is a dictionary : {'Ram': 20, 'Mohan': 30, 'Gopal': 20}
This is a set : {'Gopal', 'Mohan', 'Ram'}

In [62]:
#Check present item in a set
new_set = ["Ram","Rohan","Krishana"]
print("Rohan" in new_set)
print("Shyam" in  new_set)

True
False

In [63]:
#Add item in a set
my_fav_fruits = {"Mango","Apple","Kiwi"}
my_fav_fruits.add("Orange"), my_fav_fruits.add("Lemon")
print(my_fav_fruits)

{'Lemon', 'Apple', 'Kiwi', 'Orange', 'Mango'}

In [64]:
#Add items of another set in a current set
current_set = {1,2,3}
print(f"Current set is : {current_set}")

another_set = {"One","Two","Three"}
print(f"Another set is : {another_set}")

current_set.update(another_set)
print(current_set)

Current set is : {1, 2, 3}
Another set is : {'Two', 'One', 'Three'}
{1, 2, 3, 'One', 'Three', 'Two'}

In [65]:
#Add a string using update method in a current set
str ="Hello"
current_set.add(str)
print(current_set)

{1, 2, 3, 'One', 'Three', 'Two', 'Hello'}

In [66]:
#Add int using update method in a current set
my_int =100
my_fav_fruits.add(my_int)
print(my_fav_fruits)

{'Lemon', 100, 'Apple', 'Kiwi', 'Orange', 'Mango'}

In [67]:
#Add list 
print(mylist)
my_fav_fruits.update(mylist)
print(my_fav_fruits)

[0, 1, 22, 22, 22, 22, 33, 33, 33, 34, 100, 222]
{0, 1, 33, 34, 'Lemon', 100, 'Apple', 'Kiwi', 'Orange', 22, 222, 'Mango'}

In [68]:
#Remove a random item from a set using by the pop() method.
mynew_set = {0,2,3,4,5,"Milk",(100,12,300),'o'}
print(mynew_set)
print(mynew_set.pop())
print(mynew_set)

{0, 2, 3, 4, 5, (100, 12, 300), 'Milk', 'o'}
0
{2, 3, 4, 5, (100, 12, 300), 'Milk', 'o'}

In [69]:
#clear a set
mynew_set.clear()
print(mynew_set)

set()

In [10]:
fruits ={"Mango","Orange","Lemon"}

In [11]:
print(fruits)

{'Mango', 'Orange', 'Lemon'}

In [23]:
#Use union methon
set1= {"one","two","three","four"}
set2 ={1,2,3,4}
set3= set1.union(set2)
print(set1)
print(set3)
set1.update(set2)
print(set1)

{'three', 'four', 'one', 'two'}
{1, 2, 3, 4, 'four', 'three', 'two', 'one'}
{1, 2, 3, 4, 'four', 'three', 'two', 'one'}

In [38]:
#intersection_update and intersection
s ={"one","two",True}
s1 = {"three","four",True,'xyz'}
# s2=s.intersection_update(s1)
# print(s)
# print(s2)
s3= s.intersection(s1)
print(s)
print(s3)

{True, 'one', 'two'}
{True}

In [42]:
#isdisjoint() method: Return True if none of the item are present in both sets
set_x = {"a","b","c"}
set_y = {"x","y","z","3"}
print(set_x.isdisjoint(set_y))

set_a = {1,2,3,4,True, False, "w"}
set_b = {"w","x","y","a",4}
print(set_a.isdisjoint(set_b))

True
False