In [1]:
import pandas as pd
from randomsentence import generate
import random

In [5]:
text ={
    "label":["abc","xyz","rst","stv"],
    "label_id":[1,2,3,4]
}

In [6]:
df = pd.DataFrame(text)
df

  label  label_id
0   abc         1
1   xyz         2
2   rst         3
3   stv         4