In [1]:
import pandas as pd
fruits_and_price = {
    "fruits":["Mango","Grapes","Apple"],
    "price":[100,50,200]
}
df = pd.DataFrame(fruits_and_price)
print(df)

   fruits  price
0   Mango    100
1  Grapes     50
2   Apple    200

In [2]:
print(df.loc[0])

fruits    Mango
price       100
Name: 0, dtype: object

In [3]:
row2 = df.loc[[0,1,2]]
print(row2)

   fruits  price
0   Mango    100
1  Grapes     50
2   Apple    200

In [4]:
#use index
mylabel =["M","G","A"]
wLbl = pd.DataFrame(fruits_and_price, index=mylabel)
print(wLbl)

   fruits  price
M   Mango    100
G  Grapes     50
A   Apple    200

In [5]:
print(wLbl.loc[['M','G']])

   fruits  price
M   Mango    100
G  Grapes     50

In [6]:
#read csv file
file = f"csv_files/data.csv"
df = pd.read_csv(file)
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [7]:
#read full csv
# print(df.to_string())

In [8]:
#check max rows in system
print(pd.options.display.max_rows)

60

In [10]:
#set the max rows
# pd.options.display.max_rows=999
# print(df)

In [16]:
#get heading use head() method
print(df.head(2))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0

In [17]:
#use tail() method
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [18]:
#info()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None