In [1]:
import pandas as pd
df = pd.read_csv('../csv/laptop.csv')
df

   laptop    ram    speed
0      HP   4 GB    4 GHz
1      HP   8 GB  4.6 GHz
2      HP  16 GB   16 GHz
3  LENOVO    4GB    4 GHz
4  LENOVO   8 GB  4.6 GHz
5  LENOVO  16 GB   16 GHz
6   APPLE    4GB    4 GHz
7   APPLE   8 GB  4.6 GHz

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
df['Laptop']=LabelEncoder().fit_transform(df.laptop)
df['Ram']=LabelEncoder().fit_transform(df.ram)
df['Speed']=LabelEncoder().fit_transform(df.speed)
df

   laptop    ram    speed  Laptop  Ram  Speed
0      HP   4 GB    4 GHz       1    1      0
1      HP   8 GB  4.6 GHz       1    3      3
2      HP  16 GB   16 GHz       1    0      1
3  LENOVO    4GB    4 GHz       2    2      2
4  LENOVO   8 GB  4.6 GHz       2    3      3
5  LENOVO  16 GB   16 GHz       2    0      1
6   APPLE    4GB    4 GHz       0    2      2
7   APPLE   8 GB  4.6 GHz       0    3      3

In [11]:
new_df = df.reindex(columns=['laptop','Laptop','ram','Ram','speed','Speed'])

In [12]:
new_df

   laptop  Laptop    ram  Ram    speed  Speed
0      HP       1   4 GB    1    4 GHz      0
1      HP       1   8 GB    3  4.6 GHz      3
2      HP       1  16 GB    0   16 GHz      1
3  LENOVO       2    4GB    2    4 GHz      2
4  LENOVO       2   8 GB    3  4.6 GHz      3
5  LENOVO       2  16 GB    0   16 GHz      1
6   APPLE       0    4GB    2    4 GHz      2
7   APPLE       0   8 GB    3  4.6 GHz      3

In [15]:
new_df.sort_values(by=['speed','Speed'])

   laptop  Laptop    ram  Ram    speed  Speed
0      HP       1   4 GB    1    4 GHz      0
2      HP       1  16 GB    0   16 GHz      1
5  LENOVO       2  16 GB    0   16 GHz      1
3  LENOVO       2    4GB    2    4 GHz      2
6   APPLE       0    4GB    2    4 GHz      2
1      HP       1   8 GB    3  4.6 GHz      3
4  LENOVO       2   8 GB    3  4.6 GHz      3
7   APPLE       0   8 GB    3  4.6 GHz      3