In [28]:
mydict = {"fruits":"mango","weight":"23kg","grocerry":{
    "milk":"10 ltr"
}}

In [29]:
print(mydict)

{'fruits': 'mango', 'weight': '23kg', 'grocerry': {'milk': '10 ltr'}}

In [30]:
#Create dictionary using dict method
mydict = dict(name="Neeraj",age=26,mobile=9509797669)
print(mydict)

{'name': 'Neeraj', 'age': 26, 'mobile': 9509797669}

In [31]:
#Access deictionary items using squre brackets [] and get() method
print(mydict['name']) #using square bracket. If key is not found then return error
print(mydict.get('w')) #using get() method. If key is not found then return none

Neeraj
None

In [32]:
#Get keys, Using keys() method for get keys of a dictionary
print(mydict.keys())

dict_keys(['name', 'age', 'mobile'])

In [33]:
#Get values of a dictionary using values() method
print(mydict.values())

dict_values(['Neeraj', 26, 9509797669])

In [34]:
#Use items() method
print(mydict.items())

dict_items([('name', 'Neeraj'), ('age', 26), ('mobile', 9509797669)])

In [35]:
#Conversation a dictionary
#convert dictionary into a list
print(f"List with keys : {list(mydict.keys())}")
print(f"List with values : {list(mydict.values())}")
print(f"List with items : {list(mydict.items())}")
print("\n")
#convert dictionary into a tuple
print(f"Tuple with keys : {tuple(mydict.keys())}")
print(f"Tuple with values : {tuple(mydict.values())}")
print(f"Tuple with items : {tuple(mydict.items())}")
print("\n")
#convert dictionary into a set

print(f"Set with Keys : {set(mydict.keys())}")
print(f"Set with values : {set(mydict.values())}")
print(f"Seet with items : {set(mydict.items())}")

List with keys : ['name', 'age', 'mobile']
List with values : ['Neeraj', 26, 9509797669]
List with items : [('name', 'Neeraj'), ('age', 26), ('mobile', 9509797669)]


Tuple with keys : ('name', 'age', 'mobile')
Tuple with values : ('Neeraj', 26, 9509797669)
Tuple with items : (('name', 'Neeraj'), ('age', 26), ('mobile', 9509797669))


Set with Keys : {'name', 'age', 'mobile'}
Set with values : {'Neeraj', 26, 9509797669}
Seet with items : {('name', 'Neeraj'), ('mobile', 9509797669), ('age', 26)}

In [36]:
#check if key exist
print('name' in mydict)
print('a' in mydict)

True
False

In [38]:
#Change the value of key
mydict['name']='Neeraj choudhary'
mydict['name'] = mydict['name'].title()
print(mydict)

{'name': 'Neeraj Choudhary', 'age': 26, 'mobile': 9509797669}

In [39]:
#Use popitem() method for remove last key value pair from dictionary
print(mydict.popitem())

('mobile', 9509797669)

In [40]:
print(mydict)

{'name': 'Neeraj Choudhary', 'age': 26}

In [41]:
#Add key value pair
mydict["mobile"] = 9509797669
print(mydict)

{'name': 'Neeraj Choudhary', 'age': 26, 'mobile': 9509797669}

In [45]:
#Add a another in a current dictionary using update() method
address = {"house no.":92, "pincode":326501}
mydict.update(address)
print(mydict)

{'name': 'Neeraj Choudhary', 'age': 26, 'mobile': 9509797669, 'house no.': 92, 'pincode': 326501}

In [49]:
#use fromkeys() method
abc = ("Fruit","Color")
values = "Orange"
print(dict.fromkeys(abc,values))

{'Fruit': 'Orange', 'Color': 'Orange'}

In [53]:
new_dict = {
    "Fruits":["Orange","Mango","Kiwi"],
    "Price":[40,30,200]
}
print(new_dict)

{'Fruits': ['Orange', 'Mango', 'Kiwi'], 'Price': [40, 30, 200]}

In [62]:
import pandas as pd
mydata = pd.DataFrame(new_dict)
print(mydata)

   Fruits  Price
0  Orange     40
1   Mango     30
2    Kiwi    200