In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('../csv/animals.csv')
df

                            name  is_bird
0              Peacock Cock Hean        1
1           Lion tiger bear deer        0
2    Sparrow cuckoo cock peacock        1
3      lion tiger ox buffalo cow        0
4                    cuckoo cock        1
5            parrot peacock cock        1
6                         parrot        1
7   zebra elephant monkey donkey        0
8                  monkey donkey        0
9             lion monkey donkey        0
10                        monkey        0
11                        donkey        0
12                          lion        0
13                          hean        1
14                       peacock        1
15                        cuckoo        1
16                  penguins owl        1
17                         tiger        0
18                          deer        0
19                    lion tiger        0

In [10]:
df.groupby('is_bird').describe()

         name
        count unique                   top freq
is_bird
0          11     11  Lion tiger bear deer    1
1           9      9     Peacock Cock Hean    1

In [12]:
df['Category'] = df.is_bird.apply(lambda x:'Bird' if x==1 else 'Animal')
df

                            name  is_bird Category
0              Peacock Cock Hean        1     Bird
1           Lion tiger bear deer        0   Animal
2    Sparrow cuckoo cock peacock        1     Bird
3      lion tiger ox buffalo cow        0   Animal
4                    cuckoo cock        1     Bird
5            parrot peacock cock        1     Bird
6                         parrot        1     Bird
7   zebra elephant monkey donkey        0   Animal
8                  monkey donkey        0   Animal
9             lion monkey donkey        0   Animal
10                        monkey        0   Animal
11                        donkey        0   Animal
12                          lion        0   Animal
13                          hean        1     Bird
14                       peacock        1     Bird
15                        cuckoo        1     Bird
16                  penguins owl        1     Bird
17                         tiger        0   Animal
18                          deer        0   Animal
19                    lion tiger        0   Animal

In [5]:
new_data = df.drop(['is_bird'], axis='columns')
new_data

                            name Category
0              Peacock Cock Hean     Bird
1           Lion tiger bear deer   Animal
2    Sparrow cuckoo cock peacock     Bird
3      lion tiger ox buffalo cow   Animal
4                    cuckoo cock     Bird
5            parrot peacock cock     Bird
6                         parrot     Bird
7   zebra elephant monkey donkey   Animal
8                  monkey donkey   Animal
9             lion monkey donkey   Animal
10                        monkey   Animal
11                        donkey   Animal
12                          lion   Animal
13                          hean     Bird
14                       peacock     Bird
15                        cuckoo     Bird
16                  penguins owl     Bird
17                         tiger   Animal
18                          deer   Animal
19                    lion tiger   Animal

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(df.name, df.Category, random_state=41)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
v= CountVectorizer()

In [10]:
x_train_count = v.fit_transform(x_train)

In [11]:
x_train_count.toarray()

array([[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]],
      dtype=int64)

In [12]:
from sklearn.naive_bayes import MultinomialNB

In [13]:
model = MultinomialNB()

In [14]:
model.fit(x_train_count, y_train.values)

MultinomialNB()

In [15]:
x_test_count = v.transform(x_test)

In [16]:
model.score(x_test_count,y_test.values)

1.0

In [17]:
tst =v.transform(["monkey"])

In [18]:
model.predict(tst)

array(['Animal'], dtype='<U6')

In [19]:
model.predict(v.transform(["what is parrot"]))

array(['Bird'], dtype='<U6')

In [20]:
import joblib

In [22]:
joblib.dump(model,'bird_classfication')

['bird_classfication']

In [28]:
joblib.dump(v,'vacab')

['vacab']