In [1]:
#define a set
myset = {"Ram","Mango","Apple"}
print(myset)

{'Mango', 'Apple', 'Ram'}

In [2]:
myset = set(("Ram","Mango","Apple"))
print(myset)

{'Mango', 'Ram', 'Apple'}

In [3]:
#check the type of set
print(type(myset))

<class 'set'>

In [4]:
#Get the length of a set
print(len(myset))

3

In [11]:
#Data types in set we can use all data types item like dict, list, and tuple, but 1 or True are same and 0 and False is same considered in set
data_set = {False,0,True,1,2,3,"Apple",(1,2,3,4)}
print(data_set)

TypeError: unhashable type: 'dict'