In [1]:
#Declare Tuple
mytuple = ("Biscuits","Sugar","Vegitable Oil","Tea")
print(mytuple)

('Biscuits', 'Sugar', 'Vegitable Oil', 'Tea')

In [9]:
my_tuple = tuple(("Lion","Tiger","Fox","Elephant"))
print(my_tuple)

('Lion', 'Tiger', 'Fox', 'Elephant')

In [10]:
#length of tuple
print(len(my_tuple))

4

In [56]:
#Create a tuple with one item
one_item_tuple = ('Apple',)
print(f"This is a tuple: {type(one_item_tuple)}")

one_item_tuple = ('Apple')
print(f"This is not a tuple: {type(one_item_tuple)}")

This is a tuple: <class 'tuple'>
This is not a tuple: <class 'str'>

In [2]:
#packing and unpacking tuples
fruits = ("Mango","Grapes","Cherry","Kiwi","Orange")
(a,b,c,*d)=fruits
print(d)

['Kiwi', 'Orange']

In [4]:
#Convert tuple into list
mylist = list(fruits)
print(mylist)

['Mango', 'Grapes', 'Cherry', 'Kiwi', 'Orange']

In [5]:
#Convert tuple into set
myset = set(fruits)
print(myset)

{'Orange', 'Kiwi', 'Grapes', 'Mango', 'Cherry'}

In [18]:
#convert tuple into dictionary
mytuple = (("Mango",32),("Apple",100),("Kiwi",300))
mydict = dict((item) for item in mytuple)
print(mydict)

{'Mango': 32, 'Apple': 100, 'Kiwi': 300}

In [3]:
#Join Tuples using '+' operator
a_tuple = ("Ram","Mohan","Sita")
b_tuple = (32,30,23)
people_age = a_tuple+b_tuple
print(people_age)

('Ram', 'Mohan', 'Sita', 32, 30, 23)

In [46]:
#Multiply Tuple
three_time_copy = a_tuple*3
print(three_time_copy)

('Ram', 'Mohan', 'Sita', 'Ram', 'Mohan', 'Sita', 'Ram', 'Mohan', 'Sita')

In [49]:
#count item in touple
print(three_time_copy.count("Ram"))

3

In [65]:
#Tuples item datatypes, we can use list,boolean,str,int and ,set,dictionary

mytuple = (
    "ram", #str item
    300, #int item
    [32,40],#list item
    {"Milk","Apple",30}, #set items
    {"Krishna":30,"Mohan":20}, #dict items,
    True, #bool item
)
print(mytuple)

('ram', 300, [32, 40], {'Apple', 'Milk', 30}, {'Krishna': 30, 'Mohan': 20}, True)