In [3]:
import pandas as pd
fruits = {
    "fruits":["Mango","Apple","Grapes","Lemon","Orange"],
    "price":[20,100,130,200,310]
}
df = pd.DataFrame(fruits)
df

   fruits  price
0   Mango     20
1   Apple    100
2  Grapes    130
3   Lemon    200
4  Orange    310

In [7]:
df.to_csv('abc.csv',index=False)