In [1]:
import pandas as pd

In [2]:
my ={
    "fruits":['Apple','Mango','Grapes','Cherry'],
    "price":[230,200,120,299]
}
df = pd.DataFrame(data=my)
df

   fruits  price
0   Apple    230
1   Mango    200
2  Grapes    120
3  Cherry    299

In [3]:
#save as csv
# df.to_csv('./csv/fruits.csv',index=False)

In [4]:
df

   fruits  price
0   Apple    230
1   Mango    200
2  Grapes    120
3  Cherry    299

In [5]:
#save as an excel sheet
df.to_excel('CSV/fruits.xlsx', sheet_name="fruits", index=False)