In [1]:
import pandas as pd
df = pd.read_csv('./csv_files/abc.csv')
df

   fruits  price
0   Mango     20
1   Apple    100
2  Grapes    130
3   Lemon    200
4  Orange    310

In [2]:
#add new columns
df['binary'] = [0,1,1,0,1]

In [3]:
df

   fruits  price  binary
0   Mango     20       0
1   Apple    100       1
2  Grapes    130       1
3   Lemon    200       0
4  Orange    310       1

In [4]:
#reindex column
df = df.reindex(['binary','fruits','price'])
df

       fruits  price  binary
binary    NaN    NaN     NaN
fruits    NaN    NaN     NaN
price     NaN    NaN     NaN

In [5]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

new_columns = ['A', 'C', 'D']

df = df.reindex(new_columns)

print(df)

    A   B   C
A NaN NaN NaN
C NaN NaN NaN
D NaN NaN NaN